-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
Pillow
accelerate
diffusers
pytorch-lightning
tqdm
transformers